%h2 User

%h3
  = @user.user_name

= @user.description

= link_to t('general.write_message'), new_message_path + '/' + @user.id.to_s

= render partial: 'shared/likes', locals: Like::get_params(@user, current_user)