%h2 User

%h3
  = @user.user_name

= @user.description

= link_to t('general.write_message'), new_message_id_path(@user.id)

= render partial: 'shared/likes', locals: Like::get_params(@user, current_user)