%header
  %nav{role: 'navigation'}
    .col-md-2
      = link_to (image_tag 'logov3.png'), root_path
    .col-md-10.search-bar
      .col-md-7
      .col-md-5
        = form_tag new_search_path, :method => 'get', :role => 'search' do |f|
          .form-group
            = text_field_tag :search, params[:search], placeholder: t('nav.search'), class: 'form-control'