- if can? :create, Like
  %div{id: :like_block}
    - if like
      = button_to t('general.delete_like'), like, method: :delete, remote: true, class: 'btn btn-danger'
    - else
      = simple_form_for Like.new, remote: true do |f|
        = f.input param_name, input_html: { value: id }, as: :hidden
        = f.button :submit, t('form.subscribe'), class: 'btn-success'