%nav.header
  %div.links
    = link_to t('nav.home'), root_path, class: :active
    = link_to t('nav.view_series'), playlists_path
    = link_to t('nav.view_channel'), channels_path
  %div.search
    %input{type: :text, value: :search}
  %div.clear