.col-md-12.slider-block
  .col-md-8.header-slider
    #home-slider.carousel.slide{'data-ride' => 'carousel'}
      %ol.carousel-indicators
        - get_featured_series.each_with_index do |serie, i|
          %li{:class => (i == 0) ? 'active' : '', 'data-slide-to' => i, 'data-target' => '#home-slider'}
      .carousel-inner
        - get_featured_series.each_with_index do |serie, i|
          .item{:class => (i == 0) ? 'active' : ''}
            = image_tag serie.icon.url(:banner), class: 'img-responsive'
            .carousel-caption
              = serie.title
      %a.left.carousel-control{'data-slide' => 'prev', href: '#home-slider', role: 'button'}
        %span.glyphicon.glyphicon-chevron-left
      %a.right.carousel-control{'data-slide' => 'next', href: '#home-slider', role: 'button'}
        %span.glyphicon.glyphicon-chevron-right
  .col-md-4.header-ads
    %script{async: '', src: '//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'}
    %ins.adsbygoogle{'data-ad-client' => 'ca-pub-8157097276090339', 'data-ad-slot' => '3023041184', style: 'display:inline-block;width:336px;height:280px'}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});