// Place all the styles related to the Channel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clear { clear: both; }

footer p { text-align: center; }
.img-responsive { width: 100%; }
.panel-body { padding-top: 30px; padding-left: 15px; padding-right: 15px; padding-bottom: 5px; }

header nav { min-height: 80px; background: #000000; padding: 10px; margin-bottom: 20px; }
header .form-control, header .form-group { width: 100% !important; }

.content { float: left; }
.content .separator { border-top: 2px solid black; margin-top: 20px; padding-top: 20px; }
.center { text-align: center; }
.category-name { font-weight: bold; text-align: center; }
.serie-name { font-weight: bold; color: #FF0000; }
.video-name { font-weight: bold; color: #00DC05; }
.view-counter { color: #037DB6; }
.posted_date { font-weight: bold; }
.video-list { margin-bottom: 10px; font-size: 10px; }

@media (min-width: 768px) {
	.side-menu { float: right; }
	.content { float: left; }
}

@media (max-width: 767px) {
	.side-menu, .content { float: none; }	
}

.side-menu { padding: 0; margin-bottom: 30px; padding-right: 15px; }
.side-menu a { width: 100%; display: block; text-align: center; padding-top: 5px; padding-bottom: 5px; color: #000000; }
.side-menu a.active { background: #000000; color: #FFFFFF; }
.side-menu a:hover { background: #000000; color: #FFFFFF; text-decoration: none; }
.side-menu .separator { border-top: 1px solid #000000; width: 80%; margin: auto; margin-bottom: 10px; margin-top: 10px; }
.side-menu p { color: #037DB6; font-size: 12px; }
.side-menu p span.badge { font-size: 10px; }

article.category { padding-left: 3px; padding-right: 3px; }
article.category img { margin-bottom: 10px; }
article.serie { padding-left: 3px; padding-right: 3px; }
article.serie img { margin-bottom: 5px; }
.header-slider, .header-ads { margin-bottom: 30px; }