// Place all the styles related to the Channel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer p { text-align: center; }
.img-responsive { width: 100%; }
.panel-body { padding-top: 30px; padding-left: 15px; padding-right: 15px; padding-bottom: 5px; }

.center { text-align: center; }
.category-name { font-weight: bold; text-align: center; }
.serie-name { font-weight: bold; color: #FF0000; }
.video-name { font-weight: bold; color: #00DC05; }
.view-counter { color: #037DB6; }
.video-list { margin-bottom: 20px; }